/*
AdminPage.js----------------------------------------------------------------------------
*/

.admin-main-div {
   
    padding-bottom: 20px;
    border: 3px solid #9fbceb;
    border-top: 70px solid #9fbceb;
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: #123a7a;
}
.register-customer-div{
  text-align: center;
}
.delete-customer-div{
  text-align: center;
}
.book-customer-div{
  text-align: center;
}

.error-message{
  color: rgb(158, 1, 1);
  margin: auto;
}
.admin-submit{
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 50px;
  padding: 10px;
}
.password-div{
  padding: 5%;
  border: solid 2px rgb(43, 43, 44);
  border-radius: 20px;
  background-color: rgb(212, 207, 216);
}