/*
RegisterPage.js----------------------------------------------------------------------------
*/

.register-main-div {
    border: 3px solid #9fbceb;
    border-top: 70px solid #9fbceb;
    border-bottom: none;
    background-color: #f3f3f3;
    overflow: 'auto';
    margin-bottom: 5%;
    padding-left: 50px;
}

input[type=text] {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 40px 10px;
    width: 90%;
    background-color: #9fbceb;
}

input[type=password] {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 40px 10px;
    width: 90%;
    background-color: #9fbceb;
}

.register-submit {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 40px 10px;
    width: 40%;
    background-color: #f3f3f3;
}

.name-div {
    padding-top: 3%;
    margin: auto;
    
}

.company-div {
    margin: auto;
    width: 80%;
}

select {
    background-color: #fefffd;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    border: 1px solid black;
    border-radius: 40px 10px;
}
.error-message{
    color: #ad5a4e;
}