/*
showBookings.js----------------------------------------------------------------------------
*/

.bookings-main-div{
    margin: 5px;
    border-radius: 5px;
    overflow: 'auto';
  }
  .customer-bookings-box{
    border: 3px solid #9fbceb;
    border-top: 70px solid #9fbceb;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 10px;
    width: 200%;
  }
  
  .customer-bookings-div{
    padding: 5px;
    margin: 5px;
    margin-right: 300px;
    text-align: center
  }
  h3{
    color: #123a7a;
    font-style: italic;
  }
  h4{
    border: 3px solid #9fbceb;
    border-radius: 40px 10px;
    margin: 3px;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    color: #123a7a;
    font-style: italic;
  }