.background-primary {
	background-color: #F3F3F3;
}
.background-secondary {
	background-color: #CFD8DC;
}
.background-positive-primary {
	background-color: #9FBCEB;
}
.background-positive-secondary {
	background-color: #123A7A;
}
.background-negative-primary {
	background-color: #E4C3B7;
}
.background-negative-secondary {
	background-color: #AD5A4E;
}
.extra-color {
	color: #7BD7E0;
}
.text-color-light {
	color: #FEFFFD;
}
.text-color-dark {
	color: #7B8D93;
}
