body {
    background-color: #F3F3F3;
}

.login-main-div {
    /*background-color: #AD5A4E;*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.bg-div {
    padding-top: 12%;
    min-height: 100%;
    height: 100%;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.loginFormDiv {
    border-radius: 12px;
}

.buttonLogin {
    color: #FEFFFD;
    margin-right: 4rem;
}

.buttonRegister {
    color: #FEFFFD;
    margin-left: 4rem;
}
