/*
RegisterPage.js----------------------------------------------------------------------------
*/

.register-form {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 150px 4px rgba(0, 0, 0, 0.06);
  border: 1px solid #ccc;
  border-radius: 90px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(15, 63, 63), rgb(9, 188, 235));
}


.register-main-div {
  border-radius: 10px;
  
}

.register-main-h1 {
  text-decoration: underline;
  text-align: center;
  padding: 1px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 200px;
}

input[type=text] {
  padding: 10px;
  margin: 10px 10px;
  border-radius: 50px;
  width: 90%;
}
input[type=password] {
  padding: 10px;
  margin: 10px 10px;
  border-radius: 50px;
  width: 90%;
}
.register-submit {
  padding: 10px;
  margin: auto;
  margin-bottom: 10%;
  border-radius: 50px;
  width: 100%;
  background-color: #fefffd;
}

.name-div {
  padding-top: 3%;
  margin: auto;
  width: 30%
}

.company-div {
  margin: auto;
  width: 30%;
}
select{
  background-color: #fefffd;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  border:1px solid black;
  border-radius: 40%;
  
}

/*
AdminPage.js----------------------------------------------------------------------------
*/

.admin-main-div {
  
}
.register-customer-div{
  text-align: center;
}
.delete-customer-div{
  text-align: center;
}
.book-customer-div{
  text-align: center;
}

.register-label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.error-message{
  color: rgb(158, 1, 1);
  margin: auto;
}
.admin-submit{
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 50px;
  padding: 10px;
}
.password-div{
  padding: 5%;
  border: solid 2px rgb(43, 43, 44);
  border-radius: 20px;
  background-color: rgb(212, 207, 216);
}

/*
DeleteForm.js----------------------------------------------------------------------------
*/
.delete-form {
  padding: 1%;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 150px 4px rgba(0, 0, 0, 0.06);
  border: 4px solid rgb(255, 0, 0);
  border-radius: 90px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(15, 63, 63), rgb(9, 188, 235));
}
.delete-submit{
  border-radius: 8px;
}

/*
showBookings.js----------------------------------------------------------------------------
*/

.bookings-main-div{
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}
.customer-bookings-box{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.customer-bookings-div{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

